@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  background-color: #F5F5F3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  margin-top: 0px;
  padding-top: 10px;
}

h1 {
  font-size: 22px;
  /*margin: 20px auto 0px;*/
  /*max-width: 80%;*/
  /*text-align: center;*/
  font-weight: normal;
  color: #333;
  margin-bottom: 25px;
  margin-top: 0px;
}

a {
  color: #369;
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  /*padding-top: 120px;*/
  /*text-align: center;*/
}

.container.zoom {
  /*width: 90%;*/
  /*padding-top: 170px;*/
  zoom: 0.7;
}

svg {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.col a.median {
  padding-right: 3px;
}

.info {
  cursor: pointer;
  font-size: 10px;
}

.info-modal {
  width: 250px;
  text-align: left;
  font-size: 14px;
}

body.show-median .median-selected {
  /*border: solid 1px lightgrey;*/
  background-color: #F3EFC0;
/*  background-color: khaki;*/
  border-radius: 3px;
}

.median-selected:nth-child(2) {
  border-left: 0;
}

.median-selected.median-hide {
  /*border: none;*/
  background-color: transparent !important;
}

text {
  font-weight: normal;
  fill: #444;
}

/*#header {
  position: fixed;
  width: 100%;
  background-color: #F5F5F3;
}*/

.flex {
  width: 100%;
  display: flex;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: left;
  /*max-width: 960px;*/
}

.col {
  flex: 10;
}

.col a {
  background: transparent;
  padding: 3px 10px;
  border-radius: 3px;
}

/* Customize the label (the container) */
label {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #666;
}

/* Hide the browser's default checkbox */
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ddd;
}

/* On mouse-over, add a grey background color */
label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
label input:checked ~ .checkmark {
  background-color: #999;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label .checkmark:after {
  left: 5px;
  top: 3px;
  width: 2.5px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #999;
  -moz-box-shadow: 0 0 10px #999;
  -o-box-shadow: 0 0 10px #999;
  -ms-box-shadow: 0 0 10px #999;
  box-shadow: 0 0 10px #999;
  text-align: center;
  max-width: min-content;
  background-color: #F5F5F3;
}

.modal svg {
  zoom: 3;
}

.blocker {
  background-color: rgba(0,0,0,0.25);
}